<section class="menuContent" id="skip">
		    <h1 class="move">Our Menus</h1>
		    <div class="row">
		    	<div class="column">
		    		<h2> Happy Hour </h2>
		    		<p class="adorn-brdr-btm menu-time">
		                from
		                <strong>5:00pm-7:00pm</strong>
		                Everyday!
		            </p>
		            <h3>Featured Items</h3>
		            <p class ="intro">
		            	<ul class="menu-list">
		            		<li>$5.50 Feliz Margaritas</li>
		            		<li>$7 Taqueria Nachos</li>
		            		<li>$6 Sangria and House Wine</li>
		            		<li>$5 Salsa Mexicana and Chips</li>
		            		<li>$2 Tecate</li>
		            		<li><strong>Free</strong> Pineapple Juice</li>
		            	</ul>
		            </p>
			    <p class="intro">
		                <span class="line">Here is a selection of our favorite Happy Hour items, you can download here for full menu</span>
		                <br>
		                <br>
		                <strong class="more-fancy">
		                    <button type="submit" onclick="window.open('happy_hour_menu.pdf')">Download </button>    
		                </strong>
		            </p>	
		        </div>
		        <div class="column">
		        	<h2>Tacqueria</h2>
		        	<p class="adorn-brdr-btm menu-time">
		                from
		                <strong>10:00am-9:00pm</strong>
		                Everyday!
		            </p>
		            <h3>Featured Items</h3>
		            <p class ="intro">
		            	<ul class="menu-list">
		            		<li>$6.50 Pollo Adobado</li>
		            		<li>$6.50 Ropa Vieja</li>
		            		<li>$7 Suadero</li>
		            		<li>$5.5 Al Pastor</li>
		            		<li>$5.5 Carnitas</li>
		            		<li>$4.5 Tofu Chorizo</li>
		            	</ul>
		            	<strong>$3.75 per Taco</strong>
		            	<h6>House made corn Tortilla, Cilantro and Onion</h6>
		            </p>
			    <p class="intro">
		                <span class="line">Here is a selection of our favorite Tacqueria items, you can download here for full menu</span>
		                <br>
		                <br>
		                <strong class="more-fancy">
		                    <button type="submit" onclick="window.open('happy_hour_menu.pdf')">Download </button>
		                </strong>
		            </p>
		        </div>
		    </div>
<br>
<br>
<br>
<br>
</section>
