<div class="single-gallery-content">
    <h1 class="gallerytext">Gallery</h1>
    <h5 class="gallerytext">Before Eating at our place, please take some time to know about our restaurant and the history of mexican food.</h5>
    <p class="icon">
	<span class="line">Follow us on</span>
	<br>
	<strong class="more-fancy">
	<button type="button" onclick="window.open('https://www.facebook.com')">Facebook</button>
	</strong>
    </p>
    <p class="gallerytext"> Scroll to click on each image on the left and scroll to read about our restaurant</p>
    <div class="row">
        <div class = "column" style="height:450px; width:50%;float: left;overflow:scroll;margin-top: 20px;">
            <div  class="d-flex flex-column justify-content-center">
                <div class="span12 text-center" style="font-size:3rem;">
                    Tofu Chorizo
                </div>
            <a target="_blank" href="https://en.wikipedia.org/wiki/Tofu">
                <img src="./images/image1.png" class="img-fluid" alt="Tofu Chorizo">
            </a>
            </div>
            <br>
            <div class="d-flex flex-column justify-content-center">
                <div class="span12 text-center" style="font-size:3rem;">
                    Suadero
                </div>
            <a target="_blank" href="https://en.wikipedia.org/wiki/Matambre">
                <img src="./images/image2.png" class="img-fluid" alt="Suadero">
            </a>
            </div>
            <br>
            <div class="d-flex flex-column justify-content-center">
                <div class="span12 text-center" style="font-size:3rem;">
                    Ropa Vieja
                </div>
            <a target="_blank" href="https://en.wikipedia.org/wiki/Ropa_vieja">
                <img src="./images/image3.png" class="img-fluid" alt="Ropa Vieja">
            </a>
            </div>
            <br>
            <div class="d-flex flex-column justify-content-center">
                <div class="span12 text-center" style="font-size:3rem;">
                    Pollo Adobo
                </div>
            <a target="_blank" href="https://en.wikipedia.org/wiki/Adobo">
                <img src="./images/image4.png" class="img-fluid" alt="Pollo Adobo">
            </a>
            </div>
            <br>
            <div class="d-flex flex-column justify-content-center">
                <div class="span12 text-center" style="font-size:3rem;">
                    Carnitas
                </div>
            <a target="_blank" href="https://en.wikipedia.org/wiki/Carnitas">
                <img src="./images/image5.png" class="img-fluid" alt="Carnitas">
            </a>
            </div>
            <br>
            <div class="d-flex flex-column justify-content-center">
                <div class="span12 text-center" style="font-size:3rem;">
                    Al Pastor
                </div>
            <a target="_blank" href="https://en.wikipedia.org/wiki/Al_pastor">
                <img src="./images/image6.png" class="img-fluid" alt="Al Pastor">
            </a>
            </div>
            <br>
        </div>
        <div class ="column" style="height:450px; width:50%;overflow:scroll;margin-top: 20px;">
            <h2> Our History: </h2>
            <p> Founder, Aishwarya Ravichandran </p>
            <p> Aishwarya Ravichandran, for the past 25 years, has been involved in creating numerous restaurant concepts ranging from full service white table cloth establishments like The Broadway Restaurant, to many high demographic office tower concepts specializing in great quality food. </p>
            <p>Jana deVarona is the controller and administrator for the current restaurant company. Prior to that she was general manager of a telecommunications company and developed training programs for high growth companies.</p>
            <p>We are proud to support several of our local agencies and not for profit organizations.</p>
            <p> Cooking is not just steaming rice and making a pot of gravy, it is the blending of different spices in their right proportion. Every spice has its own medicinal properties, so food is both appetizing and healthy. The goodness of banana leaf is also highlighted in the Sangam literature. As it serves as a plate it is equally hygienic, healthy and eco- friendly.</p>
            <p>Its waxy exterior helps prevent sogging when served soupy foods as most of the South Indian meal comprises of curries and soups. It not only serves as a plate but also adds great flavor to the cooked food. Banana leaves are an excellent source of antioxidants, it cleanses the blood, stimulates appetite and also helps in digestion. </p>
            <p>My mom always used to tell me that cooking is an art and therefore when it comes from the heart it is well received and appreciated.</p>
            <p>“Good food brings families together. I want to make your food experience a memorable one every time”, so please come and enjoy Seattle Food Station.</p>
        </div>
    </div>	
</div>
