<nav class="navbar navbar-expand-lg navbar-dark navbar-fade bg-faded">
		    <a class="navbar-brand" href="./">Foodzeee</a>
		    <!---<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expandes="false">
		        <span class="navbar-toggler-icon></span>
		    </button>--->
		    <div class="navbar-collapse collapse justify-content-center" id="collapsibleNavbar">
		        <ul class="navbar-nav">
			    <li class="nav-item"><a class="nav-link" href="./">Home</a></li>	
		            <li class="nav-item"><a class="nav-link" href="./menu">Menu</a></li>
		            <li class="nav-item"><a class="nav-link" href="./gallery">Gallery</a></li>
		            <li class="nav-item"><a class="nav-link" href="./reserve">Reserve Table</a></li>
		        </ul>
		    </div>
</nav>
